@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

body{
    height: auto;
}


.telaturma-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    & .tela-turmas-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15vw, 1fr)); 
        gap: 1vw;
        width: 60%; 
        max-height: 60vh;
        overflow-y: auto;
        padding: 1rem;
        justify-items: center;

        & .atividade-card{
            width: 20vw;
            max-width: 15vw;
            height: 17vh;
            box-shadow: 0px 4px 8px rgb(59, 59, 146);
            border-radius: 1rem;
            background: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: transform 0.2s ease;
        }

        & .atividade-card:hover{
            transform: scale(1.05);
        }
    }
    & button{
        width: 7vw;
        height: 3.3vh;
        background-color: #fff;
        box-shadow: 0px 4px 8px rgb(59, 59, 146);
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 1vw;
        border-radius: .5vw;
        transition: .2s;
    }

    & button:hover{
        transform: scale(1.1);
    }

    & #voltar{
        position: absolute;
        left: 5%;
        bottom: 8%;
        height: 5vh;
        width: 10vw;
        font-size: .9vw;
        background-color: rgb(77, 77, 218);;
    }
}